main > section > form > ul > li:nth-of-type(2) input {
    border: none;
}

main > section > form > ul > li:nth-of-type(2) span {
    font-size: 20px;
}

main > section > form > ul > li:nth-of-type(2) span:hover {
    cursor: pointer;
}

main > section > form > ul > li:nth-of-type(2) {
    border-bottom: 1px solid #dee2e6;
}

main > section > form > ul > li:nth-of-type(3) {
    margin-top: 15px;
}

main > section > form > ul > li:nth-of-type(3) a {
    color: #800020;
    font-weight: 500;
    text-decoration: none;
}

main > section > form > ul > li:nth-of-type(3) a:hover {
    text-decoration: underline;
}

main > section > form > ul > li:nth-of-type(4) > input {
    border: none;
    background-color: #800020;
    color: white;
    margin-top: 15px;
    float: right;
    width: 80px;
    height: 35px;
    border-radius: 10px;
    font-weight: 500;
}

main > section > form > ul > li:nth-of-type(4) > input:hover {
    font-weight: 700;
}

main > section > section > h2, main > section > section > form h2, main > section > div section > h2, main > article > h2,
main > section > div > section > article > h2, main > section > div > section > article > section  > h2 {
    display: none;
}

main > section > section > article {
    margin-bottom: 0;
}

main > section > div > section:first-of-type > article {
    border-top: 1px solid black;
    height: 80px;
}

main > section > div > section:first-of-type > article:last-of-type {
    border-bottom: 1px solid black;
}

main > section > section > article > form {
    padding: 50px 0 100px 0px;
    border-bottom: 1px solid;
}

main > section > section > article {
    border: none;
}

/* #region Single product mobile*/
main > section > section:not(:last-of-type) {
    text-align: center;
}

main > section > section:first-of-type > header > h1 {
    font-style: normal;
    font-weight: 600;
    text-shadow: none;
    font-size: 24px;
    margin: 20px 10% 20px 0;
    color: black;
}

main > section > section:first-of-type > header > span {
    color: #800020;
    font-size: 20px;
}

main > section > section:first-of-type > img {
    width: 80%;
    margin: 0 10%;
}

main > section > section:first-of-type > section > p {
    font-size: 18px;
    font-weight: 500;
}

main > section > section:first-of-type > section > button {
    border: none;
    border-radius: 5px;
    background-color: #800020;
    color: white;
    width: 55px;
    font-size: 18px;
    font-weight: 500;
}

main > section > section:first-of-type > section > button > span {
    margin-right: 5px;
}

main > section > section:nth-of-type(2) > button, main > section > section:nth-of-type(3) > button {
    width: 95%;
    border-top: solid 0.5px black;
    border-bottom: solid 0.5px black;
    margin-top: 15px;
    text-align: left;
    padding-left: 10px;
    height: 45px;
    font-size: 18px;
    font-weight: 500;
}

main > section > section:nth-of-type(2) > button > span, main > section > section:nth-of-type(3) > button > span {
    float: right;
    padding-right: 10px;
}

main > section > section:nth-of-type(2) > div > div, main > section > section:nth-of-type(3) > div > div {
    text-align: left;
    padding: 0;
}

main > section > section:nth-of-type(2) > div > div > p {
    padding-left: 2.5%;
    margin-top: 10px;
}

main > section > section:nth-of-type(3) > div > div {
    text-align: center;
    padding: 0 2.5%;
}

main > section > section:nth-of-type(3) > div > div {
    margin-top: 10px;   
}

main > section > section:nth-of-type(3) > div > div > form {
    padding: 0;
}

main > section > section:nth-of-type(3) > div > div > form > select {
    background-color: white;
    border: solid 2px #800020;
    color: #800020;
    font-weight: 500;
}

main > section > section:nth-of-type(3) > div > div > form > select:focus {
    box-shadow: none;
    border-color: #800020;
}

main > section > section:nth-of-type(3) > div > div > form > select:not(:first-of-type),
main > section > section:nth-of-type(3) > div > div > form > section {
    margin-top: 10px;
}

main > section > section:nth-of-type(3) > div > div > form > section > input {
    width: 180px;
    background-color: #800020;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    height: 30px;
}

main > section > section:nth-of-type(3) > div > div > form > section > input:hover {
    font-weight: 700;
}

main > section > section:first-of-type > a, main > section > section:nth-of-type(3) > div section > a {
    text-decoration: none;
    color: #800020;
    font-weight: 500;
}

main > section > section:first-of-type > a:hover, main > section > section:nth-of-type(3) > div section > a:hover {
    text-decoration: underline;
}

/* carousel */
main > div > section:last-of-type {
    margin-top: 40px;
}

main > section > section:nth-child(4) > h2 {
    display: block;
    margin-top: 40px;
}

main > section > section:nth-of-type(4) > section {
    width: 100%;
    margin: 0 auto;
}

main > section > section:nth-of-type(4) > section > section > section > a,
main > div > section:last-of-type > section > section > section > a {
    text-decoration: none;
}

main > section > section:nth-of-type(4) > section > section > section > a > article,
main > div > section:last-of-type > section > section > section > a > article {
    align-items: center;
    text-align: center;
    height: 450px;
}

main > section > section:nth-of-type(4) > section > section > section > a > article img,
main > div > section:last-of-type > section > section > section > a > article img {
    width: 80%;
    height: 350px;
}

main > div > section:last-of-type > section > section > section > a > article img {
    width: 100%;
}

main > section > section:nth-of-type(4) > section > button,
main > div > section:last-of-type > section > button {
    color: black !important;
    border: none;
    background-color: transparent;
}
/* #endregion */

/* #region single product pc */
main > div {
    display: none;
    margin-top: 30px;
}

main > div > section:first-of-type {
    display: flex;
    width: 100%;
}

main > div > section:first-of-type > section:first-of-type {
    width: 40%;
    text-align: center;
}

main > div > section:first-of-type > section:first-of-type img {
    width: 85%;
}

main > div > section:first-of-type > section:first-of-type p {
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 16px;
}

main > div > section:first-of-type > section:first-of-type button {
    border: none;
    border-radius: 5px;
    background-color: #800020;
    color: white;
    width: 68%;
    font-size: 18px;
    font-weight: 500;
    height: 33px;
}

main > div > section:first-of-type > section:first-of-type button:hover {
    font-weight: 700;
}

main > div > section:first-of-type > section:nth-of-type(2) {
    width: 35%;
}

main > div > section:first-of-type > section:nth-of-type(2) > h1 {
    font-style: normal;
    font-weight: 600;
    text-shadow: none;
    font-size: 26px;
    margin: 0 0 5px 0;
    color: black;
    text-align: left;
}

main > div > section:first-of-type > section:nth-of-type(2) > span {
    color: #800020;
    font-size: 20px;
    margin-bottom: 5px;
}

main > div > section:first-of-type > section:nth-of-type(2) > p:first-of-type {
    font-weight: 500;
    font-size: 22px;
}

main > div > section:first-of-type > section:nth-of-type(2) > strong {
    font-size: 20px;
}

main > div > section:first-of-type > section:nth-of-type(2) > p:last-of-type {
    font-size: 17px;
}

main > div > section:first-of-type > section:nth-of-type(3) {
    width: 25%;
}

main > div > section:first-of-type > section:nth-of-type(3) > form {
    padding: 0;
    text-align: center;
    margin-right: 8px;
    border: 1px solid rgb(167, 167, 167);
    border-radius: 10px;
}

main > div > section:first-of-type > section:nth-of-type(3) > form > h2 {
    font-style: normal;
    font-size: 25px;
}

main > div > section:first-of-type > section:nth-of-type(3) > form > select {
    background-color: white;
    border: solid 2px #800020;
    color: #800020;
    font-weight: 500;
    width: 90%;
    margin: 0 5% 10px 5%;
    font-size: 15px;
}

main > div > section:first-of-type > section:nth-of-type(3) > form > select:focus {
    box-shadow: none;
    border-color: #800020;
}

main > div > section:first-of-type > section:nth-of-type(3) > form > section > input {
    background-color: #800020;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 90%;
    margin: 0 5% 10px 5%;
}

main > div > section:first-of-type > section:nth-of-type(3) > form > section > input:hover {
    font-weight: 700;
}

main > div > section:first-of-type > section:first-of-type > a, main > div > section:first-of-type > section:nth-of-type(3) > a {
    text-decoration: none;
    color: #800020;
    font-weight: 500;
}

main > div > section:first-of-type > section:first-of-type > a:hover, main > div > section:first-of-type > section:nth-of-type(3) > a:hover {
    text-decoration: underline;
}
/* #endregion */