main > h1, main > h2{
    color: #800020;
}

main > section > form > input {
    border: none;
    background-color: #800020;
    color: white;
    margin-top: 15px;
    float: right;
    width: 80px;
    height: 35px;
    border-radius: 10px;
    font-weight: 500;
}