/* Regole Reset */
button, footer {
    padding: 0;
    margin: 0;
}

header {
    background-color: #800020;
    height: 90px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header nav {
    height: 100%;
    text-align: center;
}

header > nav > form {
    margin: 5px 10px;
    display: none;
}

header > nav > form > input {
    margin-right: 3px;
}

header > nav > form > button {
    background-color: #800020;
    border: none;
    border-radius: 5px;
    color: white;
    width: 13%;
}

.form-control:focus {
    box-shadow: none;
    border-color: #800020;
}

header > nav > ul {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    list-style: none;
}

header > nav > ul > li{
    display: inline;
}

header > nav > ul > li:not(:last-child){
    margin-right: 4%;
}

header nav ul li a img {
    height: 100%;
    vertical-align: middle;
}

header nav ul li button{
    height: 100%;
    background-color: #800020;
    border: none;
}

header nav ul li button i, header nav ul li a {
    font-size: 300%;
    vertical-align: middle;
    color: white;
}

header > nav > ul > li:nth-child(4) > ul {
    font-size: 33%;
    background-color: #800020;
    padding: 0;
    text-align: center;
}

header > nav > ul > li:nth-child(4) > ul > li:first-child {
    border-bottom: 1px solid white;
}

header > nav > ul > li:nth-child(4) > ul > li > a {
    color: white;
}

header > nav > ul > li:nth-child(4) > ul > li > a:hover {
    background-color: #800020;
    color: white;
    border-radius: 5px;
}

footer {
    margin-top: 150px;
    background-color: #800020;
    color: white;
    font-size: 79%;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer ul li {
    display: inline-block;
}

footer > ul:first-child {
    padding-top: 2%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colonne */
}

footer > ul:last-child {
    text-align: center;
}

footer > ul:first-child > li:nth-child(2n+1) {
    margin-left: 5%;
}

footer > ul:first-child > li:nth-child(2n) {
    margin-left: 25%;
}

header div {
    background-color: #800020;
    color: white;
}

.offcanvas {
    --bs-offcanvas-width: 65%;
}

header > nav > div > div:first-child {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid white;
}

header nav div div h4 {
    padding-left: 3%;
}

header nav div div button{
    background-color: #800020;
    border: none;
    color: white;
    padding-left: 10%;
    padding-top: 2px;
}

header nav div div:last-child ul {
    text-align: left;
    background-color: #800020;
    color: white;
    list-style: none;
    font-size: 22px;
}

header nav > div > div:last-child > ul > li:first-child > a {
    width: 50%;
}

header > nav > div > div:last-child > ul > li:first-child > ul {
    padding: 0;
    display: none;
}

.dropdown-menu {
    --bs-dropdown-min-width: 110px;
}

header nav div div:last-child ul li:first-child ul li a span {
    width: 40px;
    height: 20px;
}

header div button i {
    font-size: 200%;
}

@media (min-width: 480px) {
    footer {
        font-size: 98%;
    }
}

@media (min-width: 480px) and (max-width: 576px){
    header > nav > ul > li:not(:last-child) {
        margin-right: 9%;
    }
}

@media (min-width: 576px) and (max-width: 767px){
    header > nav > ul > li:not(:last-child) {
        margin-right: 11%;
    }

    header nav div div button{
        padding-left: 15%;
    }
}

@media (min-width: 481px) and (max-width: 520px) {
    .offcanvas {
        --bs-offcanvas-width: 55%;
    }
}

@media (min-width: 520px) and (max-width: 566px) {
    .offcanvas {
        --bs-offcanvas-width: 50%;
    }
}

@media (min-width: 566px) and (max-width: 650px) {
    .offcanvas {
        --bs-offcanvas-width: 48%;
    }
}

@media (min-width: 651px) and (max-width: 767px) {
    .offcanvas {
        --bs-offcanvas-width: 45%;
    }
}

@media (min-width: 710px) and (max-width: 767px) {
    header nav div div button{
        padding-left: 22%;
    }
}

@media (min-width: 768px) {
    header > nav > div {
        display: none;
    }

    header > nav > ul > li:first-child {
        display: none;
    }

    header > nav > form {
        display: none;
    }

    footer > ul:first-child {
        grid-template-columns: repeat(3, 1fr); /* 3 colonne */
    }

    footer > ul:first-child > li:nth-child(1), footer > ul:first-child > li:nth-child(4) {
        margin-left: 5%;
    } 

    footer > ul:first-child > li:nth-child(2), footer > ul:first-child > li:nth-child(3), footer > ul:first-child > li:last-child {
        margin-left: 10%;
    } 
}

@media (min-width: 992px) {
    footer {
        font-size: 105%;
    }

    footer > ul:first-child > li:nth-child(1), footer > ul:first-child > li:nth-child(4) {
        margin-left: 10%;
    } 

    footer > ul:first-child > li:nth-child(2), footer > ul:first-child > li:nth-child(3), footer > ul:first-child > li:last-child {
        margin-left: 25%;
    }
}